{% extends "base.html" %}
{% block title %}Add Category{% endblock %}
{%block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<!--
<div class="jumbotron">
    <p></p>
        <h1></h1>
        <p class="lead"></p>
        <p></p>
</div>
-->
      <div class="row marketing">
          <div class="coll-lg-12">
        <form role="form" action="{{ url_for('addCategory', expedition_id=expedition.id) }}" method="post" enctype="multipart/form-data">

            <div class="form-group-lg">
                <p>
                    <label for="name" id="name">Please enter a category name:</label>
                </p>
                <p>
                    <input name="name" placeholder="Enter category name" aria-labelledby="name" class="form-control">
                </p>
            </div>
            <div class="form-group-lg">
                <p>
                    <label for="description" id="description">Please add a short descripiton of the category.</label>
                </p>
                <p>
                    <textarea name="description" aria-labelledby="description" class="form-control"></textarea>
                </p>
            </div>
            <div class="form-group-lg">
                <p>
                    <label for="picture" id="picture">Please provide an URL to the image.</label>
                </p>
                <p>
                    <input type="text" name="picture" aria-labelledby="picture" class="form-control">
                </p>
            </div>
            <div class="form-group-lg">
                <p>
                    <button type="submit" class="btn btn-primary">Save</button>&nbsp;<a href="{{ url_for('index')}}" class=" btn btn-primary">Cancel</a>
                </p>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </div>
       </form>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->
{% endblock %}