{% extends "base.html" %}
{% block title %}Add Category{% endblock %}
{%block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<!--
<div class="jumbotron">
    <p></p>
        <h1></h1>
        <p class="lead"></p>
        <p></p>
</div>
-->
      <div class="row marketing">
          <div class="coll-lg-12">
        <form action="{{ url_for('addCategory', expedition_id=expedition.id) }}" method="post" enctype="multipart/form-data">
            <p><label for="name">Please enter a category name:</label></p>
            <p>
                <input name="name" placeholder="Name of the cate">
            </p>
            <p><label for="description">Please describe the category.</label></p>
            <p><textarea name="description"></textarea></p>
            <p><label for="picture"></label></p>
            <p><input type="text" name="picture"></p>
            <p><input type="submit" class="" value="Save"><a href="{{ url_for('index')}}">Cancel</a></p>
        </form>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->
{% endblock %}