{% extends "base.html" %}
{% block title %}Delete {{ item.name }}{% endblock %}
{%block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<!--
<div class="jumbotron">
    <p></p>
        <h1></h1>
        <p class="lead"></p>
        <p></p>
</div>
-->
      <div class="row marketing">
          <div class="coll-lg-12">
        <form action="{{ url_for('deleteItem', expedition_id=expedition_id, category_id=category_id, item_id=item.id ) }}" method="post" enctype="multipart/form-data">
            <p>Are you shure you want to delete <h2>{{ item.name }}</h2></p>
            <p><input type="submit" class="btn-danger" value="Delete"><a href="{{ url_for('category', expedition_id=expedition_id, category_id=category_id)}}">Cancel</a></p>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        </form>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->
{% endblock %}