{% extends "base.html" %}
{% block title %}Expedition{% endblock %}
{%block head %}
    {{ super() }}
{% endblock %}
{% block body %}

      <div class="jumbotron">
           <p><img src="{{ expedition.picture }}" class="img-responsive"></p>
        <h1>{{ expedition.title }}</h1>
        <p class="lead">{{ expedition.description }}</p>
      </div>
      <div class="row marketing">

          {% if categories != [] %}
            <div class="col-lg-12">
              <h1>irgendetwas war in categories</h1>
                {% for c in categories %}

          <h4><a href="{{ url_for('category', expedition_id=expedition.id, category_id=c.id) }}">{{ c.name }}</a></h4>
          <p>{{ c.description|truncate(110, True) }}</p>
                {% endfor %}
            {% else %}
          <p>So far no categories for activities <a href="{{ url_for('login') }}">Login</a> to create a new category and start adding stuff!</p>
                {% endif %}
      </div>
        <div class="row">
            <p class="col-lg-2"><a href="{{ url_for('editExpedition', expedition_id=expedition.id) }}">Edit Expedition</a> </p>
            <p class="col-lg-2"><a href="{{ url_for('deleteExpedition', expedition_id=expedition.id) }}">Delete Expedition</a> </p>
            <p class="col-lg-8"></p>
        </div>
      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->
{% endblock %}