{% extends "base.html" %}
{% block title %}Expedition{% endblock %}
{%block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('expedition', expedition_id=item.expedition.id) }}">
                    {{ item.expedition.title }}
                </a>
            </li>
            <li>
                <a href="{{ url_for('category', expedition_id=item.expedition.id, category_id=item.category.id) }}">
                    {{ item.category.name }}
                </a>
            </li>
            <li class="active">
                {{ item.name }}
            </li>
        </ol>
    </div>
</div>
<div class="jumbotron">
    <p>
        <img src="{{ item.picture }}" class="img-responsive">
    </p>
    <h1>
        {{ item.name }}
    </h1>
    <p class="lead">
        {{ item.description }}
    </p>
</div>

<div class="row">
    <p class="col-lg-4">
        <a href="{{ url_for('editItem', expedition_id=item.expedition.id, category_id=item.category.id, item_id=item.id) }}">
            Edit Item
        </a>
    </p>
    <p class="col-lg-4">
        <a href="{{ url_for('deleteItem', expedition_id=item.expedition.id, category_id=item.category.id, item_id=item.id) }}">
            Delete Item
        </a>
    </p>
    <p class="col-lg-4">
    </p>
</div>
<footer class="footer">
    <p>
        &copy; 2016 Company, Inc.
    </p>
</footer>
</div> <!-- /container -->
{% endblock %}